.about-header {
    display: flex;

    background-color: $color-about-background;
    padding: 1em;
    font-family: $font-reading;

    margin-bottom: 1em;

    h2 {
        font-family: $font-title;
        font-size: 1.5em;
        border-left: 0.2em solid $color-selected;
        padding-left: 0.25em;
        margin-bottom: 0.5em;
    }

    img {
        width: 5em;
        height: 5em;
        border-radius: 1em;
        margin-right: 1em;
    }
}

.tutorials-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-selectable;
}

