.navbar-desktop-link {
    a {
        position: relative;
        text-decoration: none;
        color: $color-navbar-text-background;
        font-size: 1em;
        font-weight: 300;
        padding: 1.5em 0.75em 1.5em 0.75em;
        display: block;

        &:hover {
            color: $color-navbar-text;
            border-bottom: 0.2em solid $color-selectable         ;
            padding: 1.5em 0.75em 1.3em 0.75em;
            margin-bottom:-0.2em;
        }
    }
}