.content {
    flex: 1;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0em 1em 0em;
}

.page {
    h1 {
        font-family: $font-title;
        color: white;
        font-size: 2em;
        margin-bottom: 1em;
        padding: 0;
        text-align: center;
    }
}

/* Desktop settings. */
@media only screen and (min-width: 961px) {
    .page {
        width: $page-width;
    }
}

/* When the display dips below column width but isn't mobile. */
@media only screen and (max-width: 1344px) {
}

/* Phone and Tablet settings. */
@media only screen and (max-width: 960px) {
}

