.project-item {
    position: relative;
    flex-basis: calc(25% - 1em);
    margin: 0.5em;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.project-item:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.project-item:hover {
    img {
        transform: scale(1.1);
    }
}

.project-item-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        transition: all 0.15s ease-in-out;
    }

    h2 {
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: normal;
        padding: 0em 0.5em 0em 0.5em;
    }
}

.project-title {
    position: relative;
    z-index: 2;
    padding: 0.2em 0 0.2em 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}

.project-service-label {
    position: relative;
    z-index: 4;
    top: 0;
    right: 0;
    color: $color-text-contrast-primary;
    background-color: $color-selected;
}